<style>
    .links {
        background-color: rgb(2, 128, 250);
        border-radius: 5px;
        width: fit-content;
        padding: 5px;
    }
</style>
<div class="row gx-5">
    <div class="col text-md-center">
        <div class="p-3 border bg-primary">@Html.ActionLink("Insert Records in Employee and Designation table", "Query1", null, new { @class = "text-decoration-none text-white" })</div>
    </div>
    <div class="col text-md-center">
        <div class="p-3 border bg-primary">@Html.ActionLink("Count the number of records by designation name", "Query2", null, new { @class = "text-decoration-none text-white" })</div>
    </div>
    <div class="col text-md-center">
        <div class="p-3 border bg-primary">@Html.ActionLink("Display First Name, Middle Name, Last Name & Designation name", "Query3", null, new { @class = "text-decoration-none text-white" })</div>
    </div>
</div>
<br />

<div class="row gx-5">
    <div class="col text-md-center">
        <div class="p-3 border bg-primary">@Html.ActionLink("View that outputs Employee Id, First Name, Middle Name, Last Name, Designation, DOB, Mobile Number, Address & Salary", "Query4", null, new { @class = "text-decoration-none text-white" })</div>
    </div>
    <div class="col text-md-center">
        <div class="p-3 border bg-primary">@Html.ActionLink("Stored Procedure to insert data into the Designation table with required parameters", "Query5", null, new { @class = "text-decoration-none text-white" })</div>
    </div>
    <div class="col text-md-center">
        <div class="p-3 border bg-primary">@Html.ActionLink("Stored Procedure to insert data into the Employee table with required parameters", "Query6", null, new { @class = "text-decoration-none text-white" })</div>
    </div>
</div>
<br />

<div class="row gx-5">
    <div class="col text-md-center">
        <div class="p-3 border bg-primary">@Html.ActionLink("Displays only those designation names that have more than 1 employee", "Query7", null, new { @class = "text-decoration-none text-white" })</div>
    </div>
    <div class="col text-md-center">
        <div class="p-3 border bg-primary">@Html.ActionLink("Stored Procedure that returns a list of employees with columns Employee Id, First Name, Middle Name, Last Name, Designation, DOB, Mobile Number, Address & Salary (records should be ordered by DOB)", "Query8", null, new { @class = "text-decoration-none text-white" })</div>
    </div>
    <div class="col text-md-center">
        <div class="p-3 border bg-primary">@Html.ActionLink("Stored Procedure that return a list of employees by designation id (Input) with columns Employee Id, First Name, Middle Name, Last Name, DOB, Mobile Number, Address & Salary (records should be ordered by First Name)", "Query9", null, new { @class = "text-decoration-none text-white" })</div>
    </div>
</div>
<br />

<div class="row gx-5">
    <div class="col text-md-center">
        <div class="p-3 border bg-primary">@Html.ActionLink("Non-Clustered index on the DesignationId column of the Employee table", "Query10", null, new { @class = "text-decoration-none text-white" })</div>
    </div>
    <div class="col text-md-center">
        <div class="p-3 border bg-primary">@Html.ActionLink("Find the employee having maximum salary", "Query11", null, new { @class = "text-decoration-none text-white" })</div>
    </div>
</div>